:root {
  --color-main-red: #e9433b;
  --color-main-bg-red: #fdeceb;

  --color-text-main: #2b2c30;
  --color-text-sub: #616269;
  --color-text-off: #999;
  --color-text-disabled: #ccc;
  --color-text-placeholder: #ccc;
  --color-text-link: #2b2c30;
  --color-border-dark: #ccc;
  --color-border: #ddd;
  --color-border-light: #eee;

  --color-gray: #ddd;
  --color-gray-light: #eee;
  --color-accent: #ff8d27;
  --color-accent-light: #ff9d37;
  --color-blue: #3067af;
  --color-pink: #ff357f;

  --color-bg-purple-light: #f7f7fc;
  --color-bg-purple: #e7e7f3;
  --color-bg-purple-dark: #cacae7;
  --color-bg-blue: #e5eff9;

  --cat-tournament: #f5b700;
  --cat-update: #ea638c;
  --cat-interview: #4281a4;
  --cat-tips: #28afb0;
  --cat-offline-event: #33673b;
  --cat-information: #6a7fdb;
  --cat-rlcs: #f1633f;
  --cat-world-topics: #340068;
}
